.root {
  -fx-font-family: "Courier New";
  -fx-font-weight: bold;
}

.alarms-text {
  -fx-text-fill: blue;
}

.toolBarButton {
    -fx-text-fill: green;
    -fx-background-radius: 1 1 1 1;
    -fx-background-color: Transparent;
    -fx-background-repeat: no-repeat;
    -fx-border: none;
}

.hide-left {
  -fx-text-fill: green;
  -fx-background-radius: 1 1 1 1;
  -fx-background-color: Transparent;
  -fx-background-repeat: no-repeat;
  -fx-border: none;
  -fx-background-image: url('../Icon/hideLeft.png');
  -fx-background-size: 16, 16;
  -fx-background-position: center;
}
.show-right {
  -fx-text-fill: green;
  -fx-background-radius: 1 1 1 1;
  -fx-background-color: Transparent;
  -fx-background-repeat: no-repeat;
  -fx-border: none;
  -fx-background-image: url('../Icon/hideRight.png');
  -fx-background-size: 16, 16;
  -fx-background-position: center;
}

.full-screen-on {
  -fx-text-fill: green;
  -fx-background-radius: 1 1 1 1;
  -fx-background-color: Transparent;
  -fx-background-repeat: no-repeat;
  -fx-border: none;
  -fx-background-image: url('../Icon/fitOff.png');
  -fx-background-size: 16, 16;
  -fx-background-position: center;
}
.full-screen-off {
  -fx-text-fill: green;
  -fx-background-radius: 1 1 1 1;
  -fx-background-color: Transparent;
  -fx-background-repeat: no-repeat;
  -fx-border: none;
  -fx-background-image: url('../Icon/fit.png');
  -fx-background-size: 16, 16;
  -fx-background-position: center;
}

.toolBarButton:hover, .hide-left:hover, .show-right:hover, .full-screen-on:hover, .full-screen-off:hover {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.titled-pane > .title{
   -fx-padding: 0 0 0 -9;
}

.chat *.content {
    -fx-background-color: silver;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1; /* 0 3 0 3 */
}