<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <windowstate x="0.0" y="0.0" width="1366.0" height="740.0">
        <alarmDividerPositions>0.7831715210355987</alarmDividerPositions>
        <treeDividerPositions>0.16445427728613568</treeDividerPositions>
    </windowstate>
    <schemeSettings>
        <schemeName>ПС-110 кВ 'Блок-4'</schemeName>
        <schemeScale>0.6804499991348831</schemeScale>
    </schemeSettings>
    <localeName>en</localeName>
    <showAlarmColumns>1:1:1:1:1:1:0:0:1:1:0:1:0:</showAlarmColumns>
    <iconWidth>16</iconWidth>
</settings>
