<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <windowstate x="-8.0" y="-8.0" width="1382.0" height="754.0">
        <alarmDividerPositions>0.7620578778135049</alarmDividerPositions>
        <treeDividerPositions>0.2280058651026393</treeDividerPositions>
    </windowstate>
    <schemeSettings>
        <schemeName>ПС-110 кВ 'Блок-4'</schemeName>
        <schemeScale>0.6390023955330799</schemeScale>
    </schemeSettings>
</settings>
